* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*check this out*/
    height: 100vh;
}

/* nav-bar and footer */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    height: 50px;
    padding: 0 15px 0 15px;
    font-size: 14px;
}

/* nav-bar images */
.menu-img, .lab-img, .lens-icon, .mic-icon {
    height: 24px;
}
.acc-img {
    width: 35px;
}

/* nav-bar and footer links position */
.left-nav, .right-nav, .left-footer, .right-footer {
    display: flex;
    align-items: center;
    gap: 15px;
}
/* nav-bar links decoration */
a {
    color: #1f1f1f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #1f1f1f;
}
.google-logo {
    width: 74px;
}

/* Title */
.title {
    font-weight: 400;
    color: #d93025;
    font-size: 20px;
    margin: 20px 35px 25px 45px;
}
.divider {
    border: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

/* Main form */
.form {
    margin: 25px 50px 0 45px;
}

/* Header of form */
.form-head.left, .form-head.right {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}
.form-head.left {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}

/* Options of form */
.option-text {
    color: #222;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    width: 167px;
    padding: 6.832px 0 ;
    margin-bottom: 12px;
}
.option-text > span {
    font-family: monospace, Courier, sans-serif;
    color: #1f1f1f;
    font-size: 11px;
}
/* Input option */
.op {
    padding: 1px 8px;
    border: 0.667px solid #222;
    height: 30px;
    padding-right: 20px;
    width: 100%;
}

/* Table */
.table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.col {
    display: table-cell;
    vertical-align: middle;
}

/* Placing three columns */
.right {
    display: table-cell;
    vertical-align: middle;
    font-size: 11px;
    height: 47px;
    min-width: 455px;
    padding-left: 15px;
    padding-right: 100px;
}
.left {
    display: table-cell;
    vertical-align: middle;
    height: 47px;
    min-width: 167px;
}
.option, .head-col-two {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    min-width: 280px;
    height: 47px;
}

/* Remove last column */
@media (max-width: 1056px) {
    .right {
        display: none;
    }
    .op, .btn-container {
        width: 43%;
        min-width: 215px;
    }
}

/* Button */
.btn-container {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
}
.btn {
    background-color: #3079ed;
    border: 0.667px solid #3079ed;
    border-radius: 2px;
    color: #ebebeb;
    padding: 0 12px;
    height: 30px;
    min-width: 120px;
    line-height: 100%;
    font-size: 11px;
    font-weight: 700;
}

.btn:hover {
    cursor: pointer;
    background-color: #4c8cf4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    /* transform: translateY(-2px); */
    border: 1px solid #4c8cf4;
}

